<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
<!-- Recipe model is used by recipe-list.component.ts and stores new Recipes in array -->
<!-- recipe-item.component has @input() so able to access that array of recipes -->
<!-- Here we *ngFor for each item in the array -->
        <app-recipe-item
        *ngFor='let recipeElement of recipes'
        [recipe]='recipeElement'
        (recipeSelected)='onRecipeSelected(recipeElement)'></app-recipe-item>
    </div>
  </div>

